.bannerMain{
    margin-top: 96px;
    padding-left: 11vw;
    padding-right: 11vw;
    height: 500px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FAFAFA;
}
#Main{
    margin-bottom: 40px;
    margin-top: 16px;
}
.Title{
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px;
}
.mainSubTitle{
    color: #303030;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    opacity: 0.8;
}
.handphone{
    display: flex;
    flex-direction: column;
    align-self: flex-end;
}
.download:hover{
    cursor: pointer;
}
.downloadWrapper{
    display: flex;
    gap: 24px;
}
.productShowcaseWrapper{
    margin: 0 11vw;
}
#product{
    margin-top : 56px;
    margin-bottom : 8px;
}
.subTitle{
    color : #707070;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 36px;
}
.productCardsWrapper{
   margin-top: 32px;
   display: flex;
   justify-content: space-between;

}
.partnerWrapper{
    margin: 0 11vw;
    margin-top: 120px;
}
#partner{
    font-size: 20px;
    line-height: 36px;
    text-align: center;
}
.partnerLogoWrapper{
    margin-top: 55px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.promoWrapper{
    margin: 0 11vw;
    display: flex;
    justify-content: space-between;
    margin-top: 162px;
    gap: 30px;
}

.promoImg{
    width: 540px;
    height: 400px;
    border-radius: 16px;
}
ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-top: 38px ;
}
ul li::before {
    content: "\f00c";
    font-family: "FontAwesome";
    margin-right: 8px;
    font-weight: 100;
    color: #A30926;
}
#promo{
    color : #5A5A5A
}
#bottomList{
    margin-bottom: 0;
}
.promoListItem{
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 36px;
    margin-bottom: 28px;
}
.syarat{
    color: #5A5A5A;
    margin-left: 32px;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}
.promoButton{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 255px;
    height: 80px;
    border-radius: 10px;
    background-color: #A30926;
    color : white;
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 36px;
    margin-top: 68px;
    margin-bottom: 129px; 
}
.promoButton:hover{
    cursor: pointer;
}
#p4{
    display: none;
}


@media only screen and (max-width: 767px) {
    .bannerMain{
       height: 360px;
       padding-right: 0;
       padding-left: 16px;
       gap: 0;
       margin-top: 48px;

    }
    #Main{
        margin-top: 8px;
        margin-bottom: 24px;
    }
    .handphone{
        align-self: flex-end;
    }
    .Title{
        font-size: 24px;
        line-height: 36px;
    }
    .mainSubTitle{
        font-size: 14px;
        line-height: 21px;
    }
    .downloaWrapper{
        margin-top: 24px;
        margin-bottom: 78px
    }
    .download{
        width: 130px;
        height: 40px;
    }
    .subTitle{
        font-size: 16px;
        line-height: 21px;
    }
    #partner{
        font-size: 10px;
        line-height: 15px;
    }
    .partnerWrapper{
        margin-left: 16px;
        margin-right: 16px;
        margin-top: 56px;
    }
    .partnerLogoWrapper{
        margin-top: 9.75px;
    }
    .partnerLogo{
        width: 62px;
    }
    .productShowcaseWrapper{
        margin-left: 16px;
        margin-right: 16px;
        
    }
    .productCardsWrapper{
        display: grid;
        grid-template-columns: repeat(2, 156px);
        justify-content: space-between;
        gap: 16px;
        margin-right: 16px;
    }
    #product{
        margin-top: 40px;
    }
    #p4{
        display: block;
    }
    .promoWrapper{
        margin-left: 16px;
        margin-right: 16px;
        margin-top: 56px;
        flex-direction: column-reverse;
        gap: 16px;
    }
    #promo{
        font-size: 14px;
        line-height: 21px;
    }
    .promoList{
        margin-top: 24px;
    }
    .promoListItem{
        font-size: 14px;
        line-height: 21px;
    }
    .syarat{
        font-size: 12px;
        line-height: 15px;
        margin-left: 18px;
    }
    .promoButton{
        width: calc(100vw - 32px);
        height: 48px;
        font-size: 14px;
        line-height: 21px;
        margin-top: 21px;
        margin-bottom: 43px ;
    }
    .promoImg{
        width: calc(100vw - 32px);
        height: auto;
    }
    .dropOpen{
        margin-top: 10px;
    }
}

  