.navbar{
    display: flex;
    min-height: 96px;
    margin-left: 11vw;
    margin-right: 11vw;
    align-items: center;
    justify-content: space-between;
    width: 78vw;
}

.navlogo{
    width: 139px;
    height: 48px;
    margin-right: 24px;
}

.navLink{
    display: flex;
    gap: 48px;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
}

#download{
    color: #A30926;
}

.link:hover{
    cursor: pointer;
}

nav {
    top: 0;
    position: fixed;
    background-color: #ffffff;
    z-index: 100;
}



/* Media Queries for Mobile */
@media (max-width: 768px) {
    .navbar {
        margin-left: 16px;
        margin-right: 16px;
        width: calc(100vw - 32px);
        height: auto;
        min-height: 48px;
    }

    .navlink {
        gap: 24px;
        font-size: 14px;
        line-height: 20px;
    }
    .navlogo{
        height: 24px;
        width: 64px;
    }
}
