.navbar{
    display: flex;
    height: 96px;
    margin-left: 11vw;
    margin-right: 11vw;
    align-items: center;
    justify-content: space-between;
    width: 78vw;
}
.navlogo{
    width: 139px;
    height: 48px;
    margin-right: 24px;
}
.navlink{
    display: flex;
    gap: 48px;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
}
#download{
    color: #A30926;
}
.link:hover{
    cursor: pointer;
}
nav {
    top: 0;
    position: fixed;
    background-color: #ffffff;
    z-index: 100;
}